@font-face {
    font-family: titlefont;
    src: url(SlopeOpera-gg1Y.ttf);
    font-size: 200%;
  }


body {
    background-color: #bab09c;
    
}

h1 {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 100%;
  }

p {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

.header {
    background-color: #f03532;
    margin-left: auto;
    margin-right: auto;
    max-width: 1027px;
    padding: 0%;
    margin-top: 10px;
    padding-top: 20px;
}

.content {
    padding: 2em;
    padding-left: 4em;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 1027px;
}

#logo {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 10px;
    float:right;
}

#flow_map {
    padding: 2em;
    justify-content: center;
}

#kda {
    float: right;
}

#winrate {
    float: left;
}



@media screen and (min-width: 48em)
{
.content, .header {
    padding-left: 3em;
    padding-right: 3em;
}
}