/* Need to adjust typography */
h1 {
}

@media screen and (min-width: 48em){
.pure-g {
    padding-left: 2em;
    padding-right: 2em;
}
}

.pure-g {
    max-width: 900x;
    align-items: center;
}

.header {
    background-color: #f03532;
    max-width: 900;
    padding-right: 20px;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30;
    margin-bottom: 30px;
}